<fieldset data-hook="affirm_source_view">
  <legend align="center">Affirm Transaction</legend>

  <div class="row">
    <div class="col-4">
      <dl>
        <dt>ID:</dt>
        <dd><%= payment.source.transaction_id %></dd>
        <dt>Checkout token:</dt>
        <dd><%= payment.source.checkout_token %></dd>
        <dt>Provider:</dt>
        <dd><%= payment.source.provider %></dd>
      </dl>
    </div>
  </div>
</fieldset>
