<fieldset data-hook="affirm_source_view">
  <legend align="center">Affirm Transaction</legend>

  <div class="row">
    <div class="col-4">
      <dl>
        <dt>ID:</dt>
        <dd><%= payment.source.transaction_id %></dd>
      </dl>
    </div>
  </div>
</fieldset>
